server:
  port: 8080

spring:
  # Datasource
  datasource:
    url: jdbc:postgresql://localhost:5432/adopet-db
    username: user
    password: 1234
    driver-class-name: org.postgresql.Driver

  # JPA
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: validate
